@import 'tailwindcss';


/* 요일 헤더 간 눈금선 제거 */
.rbc-month-view .rbc-month-header .rbc-header:last-child {
  border-right: none !important;
}

/* 아래쪽 선은 그대로 두기 */
.rbc-month-header {
  border-bottom: 2px solid #bbbbbb !important; /* gray-300 */
}


.rbc-month-row .rbc-date-cell {
  border-left: none !important;
  border-right: none !important;
}

.rbc-month-row .rbc-date-cell:first-child {
  border-left: none !important;
}

.rbc-month-row .rbc-date-cell:last-child {
  border-right: none !important;
}

/* 캘린더 전체 border 제거 */
.rbc-calendar,
.rbc-month-view,
.rbc-month-row,
.rbc-row-bg,
.rbc-header,
.rbc-date-cell,
.rbc-day-bg,
.rbc-month-header {
  border: none !important;
  box-shadow: none !important;
  overflow: visible !important; /*가장 자리 호버 추가*/
} 

/* 각 주간(week row)마다 가로줄 구분선 추가 */
.rbc-month-row {
  border-bottom: 2px solid #BBBBBB !important;
}

.rbc-header  {
  border-bottom: 2px solid #BBBBBB !important;
}

/* 날짜 숫자 왼쪽 정렬 */
.rbc-month-view .rbc-date-cell {
  text-align: left !important;
  padding-left: 0.25rem; /* Tailwind 기준 pl-1 정도 */
}

/* 날짜 셀 내부의 숫자 위치 조정 및 여백 */
.rbc-month-view .rbc-date-cell {
  text-align: left !important;
  padding-left: 13px !important;
  padding-top: 12px !important;
  font-weight: 500; 
}

/* 누락된 항목 (추가해야 함) */
.rbc-off-range-bg {
  background: transparent !important;
}

/* 모든 요일 공통 스타일 */
.rbc-month-header .rbc-header {
  font-family: 'Pretendard', sans-serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 30px !important;
  color: #000000 !important;
  text-align: center;
  text-transform: uppercase !important;
  padding-bottom: 20px !important; 
}

/* 일요일만 빨간색 */
.rbc-month-header .rbc-header:first-child {
  color: #D81B1B !important;
}

/* 오늘 날짜 표시하는 거 제거 */
.rbc-day-bg.rbc-today {
  background-color: transparent !important;
} 

/* 이벤트가 많은 날도 자동 높이 확장 허용 */
.rbc-month-row {
  height: auto !important;
}

/* 이벤트 박스 내부 줄바꿈 허용 */
.rbc-event-content {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  display: block !important;
  word-break: keep-all !important;  
}
